$license =  "ISC"
$version =  "0.0.1"
$author =  "hugosenari"
$name =  "stylops-stylus-example"
$description =  "Show what you shouldn't do with stylus and stylops"

S()
  unquote(join("", '"', arguments, '"'))
nth(n)
  unquote(join("", ":nth-child(", n, ")"))

